.hidden {
    display: none !important; 
}

#page-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}

body {
    color: rgb(35, 35, 180);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
}

#demo-modal {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    width: 60%;
    z-index: 5;
    box-shadow: 20px 20px 10px 5px #333;    
    background: white;
    border-radius: 5px;
}

.modal-left {
    float: left;
    width: 49%;
    margin: 2px;
}

.modal-right {
    float: right;
    width: 49%;
    margin: 2px;
}
 
.container {
    width: 100%;
    float: left;
}

fieldset {
    border: none;
    border-radius: 10px;
    background-image:  
        linear-gradient(
            180deg,
            white,
            #333
            );
    background-repeat: no-repeat;
    background-position: center top;
    background-width: 100% auto; /* corrects issues in safari */
}

header {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url('../img/dylan-gillis-533818-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-width: 100% auto; /* corrects issues in safari */
    height: 350px;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    color: white;
}

.logo {
    margin-bottom: -2%;
    font-size: 84px;
    text-align: center;
}

.logo-text {
    font-size: 42px;
    text-align: center;
}

nav {
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 50px;
}

.collapsible-menu {
    color: white;
    padding: 0px 30px;
    float: left;
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    padding: 5px 0 5px 5px;
}

input#menu {
    display: none;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

.navbar-item:hover {
    background-color: #111;
}

div.clock {
    float: right;
    font-weight: 900;
    color: white;
    padding: 10px;
} 

input, textarea, select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

input::selection {
    background: maroon;
    color: white;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(35, 35, 180);
    border: 1px solid rgb(35, 35, 180);
}

li {
    height: 165px;
    padding-left: 10px;
    width: 100%;
    list-style-type: none;
    border: 3px maroon solid;
    margin: 5px auto;
    margin-left: -3%;
    border-radius: 18px;
    font-size: 1em;
    background-image:  
        linear-gradient(
            180deg,
            white,
            #777
            );
    background-repeat: no-repeat;
    background-position: center top;
    background-width: 100% auto; /* corrects issues in safari */
}

button {
    background-color: maroon;
    color: white;
    border: 1px white solid;
    box-shadow: rgb(35, 35, 180) 2px 2px 2px;
    cursor: pointer;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1em;
}

.cta {
    border: rgb(35, 35, 180) solid 1px;
    border-radius: 10px;
    height: 200px;
    margin: 1%;
    width: 25%;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.cta i {
    font-size: 1.25em;
}

.cta:hover {
    background-color: #111;
}

.back-btn {
    text-align: left;
    width: 90px;
}

#make-apt-btn {
    width: 40px;
    height: 169px;
    margin-top: -3px;
    border: none;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
}

.waitlist {
    width: 100%;
}

#waitlist-left {
    float: left;
    max-width: 92%;
    text-align: center;
    margin: 10px auto;
}

#waitlist-right {
    float: right;
}

[disabled=disabled] {
    background-color: gray;
    color: black;
}

.red {
    color: red;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

footer {
    margin-top: 15%;
}

#contact-info-ul,
.contact-info {
    padding: .5rem 0;
    margin: 0 .25rem;
    display: inline-block;
}

.contact-info {
    width: auto;
    height: auto;
}

#contact-info-ul {
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: 1em;
}


/*ipad potrait*/

@media only screen 
  and (max-width: 768px) {
    .cta {
        display: block;
        width: 100%;
    }

    header {
        height: 200px;
    }

    .logo {
        font-size: 64px;
    }

    .logo-text {
        font-size: 32px;
    }

    .clock {
        display: block;
        float: right;
    }

    li {
        font-size: 0.85em;
        height: 160px;
        margin-left: -10%;
    }

    #make-apt-btn {
        height: 164px;
    }

    #waitlist-left {
        max-width: 85%;
    }
    
    .modal-left {
        max-width: 100%;
        float: none;
        display: block;
        margin: 2px auto;
    }
    
    .modal-right {
        float: none;
        display: block;
        margin: 2px auto;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {

    .cta {
        height: 120px;
    }

    body {
        font-size: 0.9em;
    }

    .logo {
        font-size: 44px;
    }

    .logo-text {
        font-size: 22px;
    }

    section {
        width: 90%;
    }

    #demo-modal {
        width: 50%;
    }

    input, textarea, select {
        font-size: 0.9em;
    }

    li {
        height: 200px;
        margin-left: -13%;
        font-size: 1.2em;
        width: 90%;
    }

    #make-apt-btn {
        height: 204px;
    }

    #waitlist-left {
        max-width: 75%;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    

    li {
        height: 270px;
    }

    .modal-left {
        width: 100%
    }

    .modal-right {
        width: 100%
    }

    #make-apt-btn {
        height: 274px;
    }

}



