.hidden {
    display: none !important; 
}

@media only screen 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .btn {
    background-color: maroon;
    color: white;
    border: 1px white solid;
    box-shadow: rgb(35, 35, 180) 2px 2px 2px;
    cursor: pointer;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    }

    label, input {
    max-width: 85%;
    }
}

.btn {
    background-color: maroon;
    color: white;
    border: 1px white solid;
    box-shadow: rgb(35, 35, 180) 2px 2px 2px;
    cursor: pointer;
    height: 40px;
    width: 22%;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* center in div */
.cid { 
    margin: 0 auto 5px auto;
}


label, input {
    max-width: 25%;
}

.clock {
    color: white;
    padding-top: 300px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    text-align: end;
    margin-right: 5px;
}

body {
    color: rgb(35, 35, 180);
}

input {
    width: 65%;
}

section {
    max-width: 50%;
    margin: 0 auto;
    padding: 5% 5%;
    border-radius: 10px;
    background-color: white;
}

header {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url('../img/dylan-gillis-533818-unsplash.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 10px;
}

li {
    height: 80px;
    width: 65%;
    list-style-type: none;
    border: 3px maroon solid;
    margin: 5px auto;
    border-radius: 18px;
    padding: 5% 5%;
    font-size: 2em;
    text-align: center;
    background: 
        linear-gradient(
            135deg,
            rgb(124, 124, 230), white
        );
}

