.hidden {
    display: none !important; 
}

body {
    color: rgb(35, 35, 180);
}

section {
    width: 85%;
    padding: 5%;
    margin: 0 auto;
}

fieldset {
    border: 1px solid gray;
    border-radius: 10px;
    background-image:  
        linear-gradient(
            180deg,
            white,
            rgba(0, 0, 0, 0.5)
            );
    background-repeat: no-repeat;
    background-position: center top;
    /* background-attachment: fixed; */
    background-width: 100% auto;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.back-btn {
    text-align: left;
    width: 60px;
}

header {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url('../img/dylan-gillis-533818-unsplash.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}

footer {
    margin-top: 15%;
}

li {
    height: 110px;
    padding-left: 10px;
    width: 100%;
    list-style-type: none;
    border: 3px maroon solid;
    margin: 5px auto;
    margin-left: -3%;
    border-radius: 18px;
    font-size: 1.5em;
    background: 
        linear-gradient(
            135deg,
            rgb(124, 124, 230), 
            white
        );
}

button {
    background-color: maroon;
    color: white;
    border: 1px white solid;
    box-shadow: rgb(35, 35, 180) 2px 2px 2px;
    cursor: pointer;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    border-radius: 10px;
}

#make-apt-btn {
    width: 40px;
    height: 114px;
    margin-top: -3px;
    border: none;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
}

#li-1 {
    float: left;
    max-width: 92%;
}

#li-2 {
    float: right;
}

[disabled=disabled] {
    background-color: gray;
    color: black;
}

.banner {
    padding-top: 270px;
}

.home {
    float: left;
    margin-left: 1%;
    font-size: 2em;
}

.home:hover {
    color: rgb(0, 153, 255);
    cursor: pointer;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    padding: 2px;
}

.clock {
    float: right;
    font-size: 2em;
    font-weight: 900;
    margin-right: 1%;
}   

.red {
    color: red;
}

input, textarea, select {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input::selection {
    background: maroon;
    color: white;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(35, 35, 180);
    border: 1px solid rgb(35, 35, 180);
}


/*ipad potrait*/

@media only screen 
  and (max-width: 768px) {
    header {
        height: 200px;
    }

    li {
        font-size: 1.2em;
        height: 120px;
        margin-left: -4%;
    }

    #make-apt-btn {
        height: 124px;
    }

    .banner {
        font-size: 0.8em;
        padding-top: 130px;
    }

    #li-1 {
    max-width: 85%;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    .banner {
        font-size: 0.6em;
        padding-top: 145px;
    } 

    li {
        height: 165px;
        width: 100%;
        margin-left: -7%;
        font-size: 1.1em;
        background: 
            linear-gradient(
                135deg,
                rgb(124, 124, 230), white
            );
    }

    #make-apt-btn {
        height: 169px;
    }

    #li-1 {
        max-width: 80%;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    .banner {
        font-size: 0.6em;
        padding-top: 145px;
    }  

    li {
        height: 165px;
        margin-left: -10%;
    }

    #make-apt-btn {
        height: 169px;
    }

    .back-btn {
        margin-left: -40px;
    }

    #li-1 {
        max-width: 75%;
    }
    
}

@media only screen and (min-width: 1024px) {
    .banner {
        padding-top: 280px;
    }  

    li {
        height: 165px;
        font-size: 2.1em;
    }

    #li-1 {
        text-align: center;
        margin: 10px auto;
    }

    #make-apt-btn {
        height: 169px;
    }

    
    
}